
<div class="row">
	
	<%= form_for @post, url: signed_posts_path do |f| %>

	<%= f.text_area :context %><br>

	<%= f.submit %>
	<br>
	<% end %>

</div>

<% @posts.each do |post| %>
<div class="well">
	<div class="pull-right" >
		<%= post.created_at %>
	</div>
	<div class="row">
		
		
		<%= post.user.email %>:
		
		
		<%= post.context %>

	</div>
</div>
<% end %>
 